@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo global del scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Estilo del thumb del scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
  }
  
  /* Estilo del track del scrollbar */
  ::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }
  
  /* Estilo de la esquina del scrollbar */
  ::-webkit-scrollbar-corner {
    background-color: #f0f0f0;
  }
  